/* Minimalistic, flat, sober global index styles */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  background: #fff;
  color: #000;
}
* {
  box-sizing: border-box;
}
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: transparent;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: transparent;
  }
}
